<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="server" type="Server.ServerConfiguration, Server"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="ConnectionString" value="Server=127.0.0.1;Port=5432;Database=MMO;User Id=postgres;Password=Passw0rd!;"/>
    <add key="RedisHost" value="redishost"/>
  </appSettings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="Data.Accounts.IAccountRepository, Data" mapTo="Data.Accounts.PostgresAccountRepository, Data" />
      <register type="Data.NPCs.INPCRepository, Data" mapTo="Data.NPCs.PostgresNPCRepository, Data" />
      <register type="Data.Players.IPlayerRepository, Data" mapTo="Data.Players.PostgresPlayerRepository, Data" />
      <register type="Data.Abilities.IAbilityRepository, Data" mapTo="Data.Abilities.PostgresAbilityRepository, Data" />
      <register type="Data.Stats.IStatsRepository, Data" mapTo="Data.Stats.RedisStatsRepository, Data">
        <constructor />
      </register>
    </container>
  </unity>

  <server 
    port="25012" 
    />
</configuration>