<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    
    <target xsi:type="AsyncWrapper" name="asyncConsole" overflowAction="Grow">
        <target xsi:type="ColoredConsole" name="console" layout="${time} ${uppercase:${level}} | ${message}"/>
    </target>
    
    <target xsi:type="AsyncWrapper" name="asyncFile" overflowAction="Grow">
        <target xsi:type="File" name="file" layout="${time} ${uppercase:${level}} | ${message}" fileName="server.log"/>
    </target>
    
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="asyncConsole,asyncFile" />
  </rules>
</nlog>